In [1]:
type(2.23)

In [2]:
type(print)

In [3]:
str(123)

In [4]:
list("banana")

In [5]:
# Variable Assignment
# Pointing a variable to the value "1.99"
price = "1.99"

In [6]:
# we need to double the price
price * 2

In [7]:
# * operator with strings is a repetition operator
type(price)

str

In [8]:
# Change the price to a float
# To change the variable, we re-assign
price = float(price)
type(price)

float

In [9]:
# to double the price
# we reassign price to hold the value of price * 2
# new_value = old_value * 2
price = price * 2
price

3.98

In [10]:
print(price * 10000000)
print(price)

39800000.0
3.98

## Think of Variables Like Physics Class
- A variable holds its value until told otherwise
- Variable reassignment is the most common way to alter the value a variable holds

In [11]:
favorite_number = 12.12

In [12]:
# Reassignment Real World Comparison
# Tab or a running total
total = 0
total

0

In [13]:
iced_tea = 1.99
egg_rolls = 4.99
noodle_bowl = 7.50

In [14]:
# Ordering only iced_tea
# the total is always defined in terms of itself (or its previous value)
total = total + iced_tea
total

1.99

In [15]:
# Update total to be what it used to be plus something
# We're adding a second iced_tea
total = total + iced_tea
total

3.98

In [16]:
# += is the same as total = total + something
total += egg_rolls

In [17]:
# Think of += as adding something to your tab or your running total
total += noodle_bowl
total

16.47

In [18]:
# Does this operation change any of the variables?
# No, because there's no assignment / reassignment
# There's no single = sign.
total - noodle_bowl - egg_rolls

3.9799999999999986

In [19]:
total

16.47

In [20]:
# Boolean Values
# We may see booleans represented as 0 and 1
True

True

In [21]:
False

False

In [22]:
favorite_number <= 10

False

## Comparison Operators Ask Questions and Give Us a Boolean Answer

In [23]:
# All our comparison operators give us back a boolean (True or False)
print(favorite_number == 2) # == compares values
print(favorite_number != 5) # != not equal to, you get true if the values are different
print(favorite_number > 5) # only greater than five
print(favorite_number >= 5) # greater than or equal to five
print(favorite_number)

False
True
True
True
12.12

### Math Operators
- Python takes care of Order of Operations 
- Use parentheses when we need to create groupings or control the evaluation

In [24]:
x = 5

print(x + 10)
print(x - 11)
print(x * 12)
print(x / 5)
print(x ** 2)

15
-6
60
1.0
25

In [25]:
2 / 1

2.0

In [26]:
# Floor Division or integer division w/ no remainers uses two forward slashes
3 // 2

1

In [27]:
x // 5 == int(x / 5)

True

In [28]:
# When comparing an int w/ a float, if the float has nothing after the decimal, 
# and the values are the same, then we get back a True
5.0 == 5

True

## Logical Operators Allow Us To Combine Statements
- We can combine values together w/ Logical Operators
- We can negate values w/ logical operators
- And, Or, Not 
- ORs expand our possibilities
- ANDs limit our possibilities
- A NOT operation flips the boolean value

In [29]:
not True

False

In [30]:
right_here_now = True
doing_python = True
twenty_thousand_leagues_under_the_sea = False

In [31]:
# ANDs only return True when all of their parts are true
doing_python and right_here_now

True

In [32]:
twenty_thousand_leagues_under_the_sea and doing_python

False

In [33]:
# Truth Table
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [34]:
# ORs add possibility
# Ors return True if there's at least one True in the OR combination
twenty_thousand_leagues_under_the_sea or doing_python

True

In [35]:
good_with_pizza = True
good_with_bbq = False
good_with_seafood = False
good_with_bbq or good_with_pizza or good_with_seafood

True

In [36]:
# Truth table for an OR
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

## One weird trick to figure out truth tables in the real world
- Think of ANDs in terms of food allergies
    - If you're allergic to A and B and C and ....
    - We're limiting the options
    
- Think of ORs in terms of food preferences
    - Are you good with A or B or C or D or ... ?
    - As long as you're good with one option, we get True

In [37]:
# If we have a boolean and (boolean or boolean)
# The parentheses are treating two booleans as a compound
# any or and and creates compound logical statements
right_here_now and (good_with_pizza or good_with_bbq)

True

## Strings and String Operations
- Strings are the data type for words/letters

In [42]:
favorite_color = "Teal"
favorite_color

'Teal'

In [43]:
# Once you created a variable in an above cell, you can type the variable
# Then type the period, hit TAB key, and then we get to see the avaiable built-in methods
favorite_color.count("a")

1

In [44]:
favorite_color.upper()

'TEAL'

In [45]:
favorite_color.isdecimal()

False

In [46]:
favorite_color.isnumeric()

False

In [49]:
x = "5"
x.isdigit()

True

In [52]:
# We can put strings together with +
# con = with = chili con carne
# cat = cat meow
# with the e-nation of cats
"con" + "cat" + "e" + "nation"

'concatenation'

In [53]:
# + sign concatenates strings, adds numbers
"5" + "banana"

'5banana'

In [55]:
# + sign can't do 2 things at once... so we'd need to make sure the right data types are there...
# 5 + "banana" is nonsense

In [56]:
# string repetition
5 * "banana"

'bananabananabananabananabanana'

In [57]:
# In operator is the Membership operator
"nana" in "banana"

True

In [58]:
"bob" in "pineapple"

False

In [59]:
x = "a"
x.lower() in ["a", "e", "i", "o", "u"]

True

In [61]:
# If we want to combine/concatenate numbers and strings, recommend using a format string
favorite_number = 13
"My favorite number is " + str(favorite_number)

'My favorite number is 13'

In [63]:
# what's a format string?
f"My favorite is {favorite_number} and two times my favorite number is {2 * favorite_number}"

'My favorite is 13 and two times my favorite number is 26'

In [64]:
"ban ana".split(" ")

['ban', 'ana']

In [65]:
x = "      strip removes spaces on the left and right    "
x.strip()

'strip removes spaces on the left and right'

In [66]:
# String methods return new copies and leave the original string untouched
# If you need to reassign, then you have to reassign
x.upper()

'      STRIP REMOVES SPACES ON THE LEFT AND RIGHT    '

In [67]:
x

'      strip removes spaces on the left and right    '

In [68]:
fruit = "mango"
fruit[0] # square bracket syntax returns 0 indexed values

'm'

In [69]:
fruit[-1] # negatives in the square bracket syntax count from the right

'o'

In [71]:
#string[start:end] up to but not including the end
fruit[0:2]

'ma'

In [72]:
fruit[3:] # start at index 3 (which is the 4th character, and go till the end of the string)

'go'

In [73]:
fruit[:-2] # Take up until the second to last character

'man'

## Let's Talk Lists!
- Lists hold values in numeric order
- Lists can hold any data type (including lists)
- Consider that a spreadsheet or a db table is a list of lists (b/c it's rows and columns)
- List of lists of lists => workbook or an entire db.

In [93]:
beatles = ["John", "George", "Paul"]
beatles

['John', 'George', 'Paul']

In [94]:
beatles.append("Ringo")

In [95]:
beatles

['John', 'George', 'Paul', 'Ringo']

In [96]:
beatles.reverse()

In [97]:
beatles[::-1]

['John', 'George', 'Paul', 'Ringo']

In [98]:
beatles

['Ringo', 'Paul', 'George', 'John']

In [99]:
"John" in beatles

True

In [100]:
beatles.remove("Paul")

In [101]:
beatles

['Ringo', 'George', 'John']

In [102]:
x = [23, 11, 2, 3, 1, 3, 4, 1, 1231212, 12343]
sum(x) # Sigma

1243603

In [103]:
average = sum(x) / len(x)
average

124360.3

In [108]:
y = x.copy()
y

[23, 11, 2, 3, 1, 3, 4, 1, 1231212, 12343]

In [109]:
# List Comprehension is special syntax that produces new lists
# list comprehensions can contain conditional logic and even function calls inside
numbers = [1, 2, 3, 4, 5]

# Objective is to add one to every number and save as a new list called y
# Add if or if/else into this
y = [n + 1 for n in numbers]
y

[2, 3, 4, 5, 6]

In [110]:
# Make a new list that contains the number of characters in each string in a list of strings
spice_girls = ["Posh", "Sporty", "Ginger", "Scary", "Baby"]

# list comprehensions start with square brackets for the list
[len(spice_girl) for spice_girl in spice_girls]

[4, 6, 6, 5, 4]

In [111]:
# Without the list comprehension, the code for above would look like:
output = []
for spice_girl in spice_girls:
    output.append(len(spice_girl))
output

[4, 6, 6, 5, 4]

In [113]:
# This x variable here is NOT any x variable from other code
# the syntax of "for x" creates the variable and gives it a value
[x for x in range(1, 11) if x % 2 == 0]

[2, 4, 6, 8, 10]

### Recommendations
- Use plural for list variable names
- Then with the for loop singular varible, use a singular version
- Use list comprehensions to make new lists w/ transformed outputs

In [114]:
x = [1, 2, 3]
type(x)

list

In [115]:
# List is a built-in function and a data type
list("banana")

['b', 'a', 'n', 'a', 'n', 'a']

In [117]:
# What if we need a list that can't change, ever? 
# A list that is a constant?
# Tuple
x = (1, 2, 3) # parentheses 
x.count(2)

1

In [119]:
x[0] # same square bracket syntax as we had with lists and strings

1

In [121]:
# If you try to run this assignment on a tuple, you'll get an error
# b/c tuples
# x[0] = 5

In [122]:
# If we need a list version of a tuple
y = list(x)
y

[1, 2, 3]

In [124]:
# Dictionaries == like a labeled list!
# Dictionaries are created by curly braces containing key:value pairs
fruit = {
    "name": "apple",
    "calories": 95,
    "carbs": 20
}

In [126]:
fruit

{'name': 'apple', 'calories': 95, 'carbs': 20}

In [127]:
type(fruit)

dict

In [129]:
# With lists, we don't have any labels, only the numeric index
# ["apple", 95, 20]

In [130]:
# Dictionary access syntax
fruit["carbs"]

20

In [131]:
# Dictionary access syntax
fruit["carbs"] = 17 # Reassigning
fruit

{'name': 'apple', 'calories': 95, 'carbs': 17}

In [132]:
# Dictionary literal syntax means typing out the curly braces, keys, and values
# We can make dictionary literals when we already have the values and keys
another_fruit = {
    "name": "mango",
    "carbs": 100,
    "calories": 120
}

In [133]:
fruit

{'name': 'apple', 'calories': 95, 'carbs': 17}

In [134]:
another_fruit

{'name': 'mango', 'carbs': 100, 'calories': 120}

In [136]:
fruits = [fruit, another_fruit]

In [137]:
fruits

[{'name': 'apple', 'calories': 95, 'carbs': 17},
 {'name': 'mango', 'carbs': 100, 'calories': 120}]

In [138]:
# How many carbs if we consume both the apple and the mango?
total_carbs = fruit["carbs"] + another_fruit["carbs"]
total_carbs

117

In [141]:
# Another approach to creating dictionaries
student = dict()
student["name"] = "Jane Janeway"
student["class_type"] = "Data Science"
student["grades"] = [95, 98, 90, 81]
student

{'name': 'Jane Janeway',
 'class_type': 'Data Science',
 'grades': [95, 98, 90, 81]}

In [142]:
# How do we access this student's name?
student["name"]

'Jane Janeway'

In [145]:
# How would we add a grade of a 100 to the list of grades?
student["grades"].append(100)

In [146]:
student["grades"]

[95, 98, 90, 81, 100]

In [148]:
# How would we get this student's average grade?
sum(student["grades"]) / len(student["grades"])

92.8

In [149]:
x = ["Jane", "Bob", "Pat"]
x[0] # list access syntax is using the index to point to the value

'Jane'

In [150]:
# Square bracket list syntax. With lists, we access by index
x[0] = "Janey"

In [151]:
x

['Janey', 'Bob', 'Pat']

In [152]:
# With dictionaries, we access by the key name
student["class_type"]

'Data Science'

In [153]:
student["class_type"] = "Web Development"
student

{'name': 'Jane Janeway',
 'class_type': 'Web Development',
 'grades': [95, 98, 90, 81, 100]}

In [154]:
# A 3rd way of creating dictionaries!
x = dict(title="Toy Story", studio="Pixar", sales=10000000000)
x

{'title': 'Toy Story', 'studio': 'Pixar', 'sales': 10000000000}