# Imports Exercise

Create a file named import_exercises.py to do your work in.

1. Import and test 3 of the functions from your functions exercise file.

Import each function in a different way:

- import the module and refer to the function with the . syntax
- use from to import the function directly
- use from and give the function a different name

In [3]:
import acquire

acquire.get_data('iris')

For the following exercises, read about and use the itertools module from the standard library to help you solve the problem.

2. How many different ways can you combine the letters from "abc" with the numbers 1, 2, and 3?

In [7]:
import itertools as it

len(list(it.product([1, 2, 3], 'abc')))

9

3. How many different ways can you combine two of the letters from "abcd"?

In [8]:
len(list(it.combinations('abcd', 2)))

6

Save this file as profiles.json inside of your exercises directory. Use the load function from the json module to open this file, it will produce a list of dictionaries. Using this data, write some code that calculates and outputs the following information:

In [9]:
import json

profiles = json.load(open('profiles.json'))

In [11]:
profiles[0:5]

[{'_id': '54e23c3e46ab53a440b580e8',
  'index': 0,
  'guid': '9962b468-ef3e-4993-b677-617469bc3008',
  'isActive': False,
  'balance': '$2,097.02',
  'picture': 'http://placehold.it/32x32',
  'age': 39,
  'eyeColor': 'blue',
  'name': 'Hebert Estes',
  'gender': 'male',
  'company': 'ANDRYX',
  'email': 'hebertestes@andryx.com',
  'phone': '+1 (866) 456-2268',
  'address': '121 Emmons Avenue, Klondike, Kentucky, 5975',
  'about': 'Sit cillum deserunt irure laboris tempor fugiat laboris. Amet commodo amet est incididunt. Dolore qui fugiat cillum pariatur dolore excepteur elit ipsum.\r\n',
  'registered': '2014-11-10T01:44:03 +06:00',
  'latitude': -80.157843,
  'longitude': 161.93016,
  'tags': ['sit', 'occaecat', 'non', 'ea', 'sit', 'laboris', 'exercitation'],
  'friends': [{'id': 0, 'name': 'Tanisha Leonard'},
   {'id': 1, 'name': 'Dennis Wilson'},
   {'id': 2, 'name': 'Lupe Howe'}],
  'greeting': 'Hello, Hebert Estes! You have 4 unread messages.',
  'favoriteFruit': 'strawberry'},
 {'_id': '54e23c3ef5cc0d250968c212',
  'index': 1,
  'guid': '905f849d-49bf-4a57-b4f3-5d6e4bf1b04c',
  'isActive': False,
  'balance': '$3,654.02',
  'picture': 'http://placehold.it/32x32',
  'age': 30,
  'eyeColor': 'green',
  'name': 'Allison Wynn',
  'gender': 'male',
  'company': 'PHARMACON',
  'email': 'allisonwynn@pharmacon.com',
  'phone': '+1 (926) 525-3131',
  'address': '724 Brevoort Place, Lodoga, Indiana, 3880',
  'about': 'Esse quis cillum sunt occaecat ad et eu incididunt aliquip dolor. Adipisicing labore magna anim cillum nisi. Elit mollit consequat velit nulla cillum excepteur elit ullamco deserunt. Anim aliquip Lorem excepteur ad veniam et labore in qui ullamco. Occaecat sit do incididunt voluptate id magna ea amet.\r\n',
  'registered': '2014-06-10T13:41:26 +05:00',
  'latitude': 55.737207,
  'longitude': -167.177561,
  'tags': ['enim',
   'officia',
   'laboris',
   'irure',
   'veniam',
   'occaecat',
   'pariatur'],
  'friends': [{'id': 0, 'name': 'Curry Cox'},
   {'id': 1, 'name': 'Alma Dale'},
   {'id': 2, 'name': 'Barbara Mayo'}],
  'greeting': 'Hello, Allison Wynn! You have 19 unread messages.',
  'favoriteFruit': 'apple'},
 {'_id': '54e23c3e09cc6875638cd36b',
  'index': 2,
  'guid': '1b042d48-9cfa-4db5-8b60-4104165591c3',
  'isActive': True,
  'balance': '$1,536.02',
  'picture': 'http://placehold.it/32x32',
  'age': 31,
  'eyeColor': 'brown',
  'name': 'Jacobs Floyd',
  'gender': 'male',
  'company': 'QUONK',
  'email': 'jacobsfloyd@quonk.com',
  'phone': '+1 (853) 537-3315',
  'address': '941 Cox Place, Bluffview, Georgia, 5882',
  'about': 'Deserunt adipisicing proident exercitation cillum anim consectetur labore exercitation. Commodo reprehenderit laborum enim exercitation. Ullamco nulla culpa aliqua nisi fugiat consectetur deserunt nostrud in eu.\r\n',
  'registered': '2014-07-30T03:17:32 +05:00',
  'latitude': 30.215667,
  'longitude': 68.831905,
  'tags': ['est', 'aute', 'laborum', 'sint', 'anim', 'sit', 'consectetur'],
  'friends': [{'id': 0, 'name': 'Robles Chan'},
   {'id': 1, 'name': 'Whitfield Strickland'},
   {'id': 2, 'name': 'Lina Melton'}],
  'greeting': 'Hello, Jacobs Floyd! You have 5 unread messages.',
  'favoriteFruit': 'banana'},
 {'_id': '54e23c3e54e4094147a3b1da',
  'index': 3,
  'guid': '69eb3454-8acc-46f1-a636-c6df00dfb542',
  'isActive': False,
  'balance': '$3,919.64',
  'picture': 'http://placehold.it/32x32',
  'age': 20,
  'eyeColor': 'green',
  'name': 'Fay Hammond',
  'gender': 'female',
  'company': 'INRT',
  'email': 'fayhammond@inrt.com',
  'phone': '+1 (922) 429-2592',
  'address': '518 Randolph Street, Whitestone, Arizona, 8189',
  'about': 'Aliqua sunt exercitation quis cupidatat fugiat nulla laboris occaecat ut reprehenderit qui incididunt. Amet excepteur qui amet mollit sint enim velit est dolor eu. Velit labore ea aute ipsum consequat culpa cupidatat excepteur aliqua. Sit commodo id est deserunt commodo. Labore sit deserunt enim in dolore incididunt. Officia qui est veniam cillum consequat minim duis Lorem esse magna culpa cupidatat cupidatat enim. Amet eiusmod elit qui reprehenderit commodo quis.\r\n',
  'registered': '2015-01-30T08:05:38 +06:00',
  'latitude': 33.825844,
  'longitude': -65.969538,
  'tags': ['aliqua', 'esse', 'sint', 'pariatur', 'commodo', 'do', 'anim'],
  'friends': [{'id': 0, 'name': 'Dudley Booker'},
   {'id': 1, 'name': 'Esmeralda Tyler'},
   {'id': 2, 'name': 'Rosa Hampton'}],
  'greeting': 'Hello, Fay Hammond! You have 10 unread messages.',
  'favoriteFruit': 'banana'},
 {'_id': '54e23c3e177caf5567ba87ac',
  'index': 4,
  'guid': '97962c85-7700-4ffa-a01e-2fcbc147fd81',
  'isActive': False,
  'balance': '$3,681.39',
  'picture': 'http://placehold.it/32x32',
  'age': 39,
  'eyeColor': 'green',
  'name': 'Chasity Marsh',
  'gender': 'female',
  'company': 'WAZZU',
  'email': 'chasitymarsh@wazzu.com',
  'phone': '+1 (976) 425-2362',
  'address': '604 Just Court, Eastvale, Federated States Of Micronesia, 8644',
  'about': 'Irure excepteur consequat esse qui tempor deserunt nulla fugiat. Ut excepteur do veniam dolore dolor proident sunt voluptate ad ipsum nisi. Lorem proident deserunt Lorem cupidatat dolor nulla qui id aliqua. Et nulla laborum deserunt tempor ad culpa. Ullamco occaecat adipisicing dolore laborum laborum duis aliqua nisi irure ex. Incididunt tempor Lorem quis dolore.\r\n',
  'registered': '2014-07-31T06:03:19 +05:00',
  'latitude': -31.660978,
  'longitude': 37.559095,
  'tags': ['aliquip', 'duis', 'irure', 'amet', 'aliquip', 'dolore', 'esse'],
  'friends': [{'id': 0, 'name': 'Kristina Glover'},
   {'id': 1, 'name': 'Ora Christian'},
   {'id': 2, 'name': 'Jacklyn Joseph'}],
  'greeting': 'Hello, Chasity Marsh! You have 9 unread messages.',
  'favoriteFruit': 'apple'}]

4. Total number of users

In [37]:
ttl_users = len(profiles)
ttl_users

19

5. Number of active users

In [13]:
profiles[0]['isActive']

False

In [14]:
if profiles[0]['isActive']:
    print(1)
else:
    print(0)

0

In [20]:
# create empty list
ttl = []
# loop through each profile (0 to 18)
# appending the profile to the list if isActive == True
for i in range(len(profiles)):
    if profiles[i]['isActive']:
        ttl.append(profiles[i])

# print the length of the list of active profiles
print(len(ttl))

9

In [15]:
len([profile for profile in profiles if profile['isActive']])

9

6. Number of inactive users

In [21]:
len([profile for profile in profiles if not profile['isActive']])

10

7. Grand total of balances for all users

In [23]:
# extracting the balance values
balances = [profile['balance'] for profile in profiles]
balances

['$2,097.02',
 '$3,654.02',
 '$1,536.02',
 '$3,919.64',
 '$3,681.39',
 '$1,694.42',
 '$1,214.10',
 '$2,930.31',
 '$1,944.15',
 '$2,839.22',
 '$2,467.31',
 '$3,304.99',
 '$3,844.42',
 '$3,594.99',
 '$2,940.24',
 '$3,062.41',
 '$3,067.82',
 '$2,646.76',
 '$2,227.79']

In [24]:
# removing commas 
balances = [balance.replace(',', '') for balance in balances]
balances

['$2097.02',
 '$3654.02',
 '$1536.02',
 '$3919.64',
 '$3681.39',
 '$1694.42',
 '$1214.10',
 '$2930.31',
 '$1944.15',
 '$2839.22',
 '$2467.31',
 '$3304.99',
 '$3844.42',
 '$3594.99',
 '$2940.24',
 '$3062.41',
 '$3067.82',
 '$2646.76',
 '$2227.79']

In [25]:
# removing %
balances = [balance.replace('$', '') for balance in balances]
balances

['2097.02',
 '3654.02',
 '1536.02',
 '3919.64',
 '3681.39',
 '1694.42',
 '1214.10',
 '2930.31',
 '1944.15',
 '2839.22',
 '2467.31',
 '3304.99',
 '3844.42',
 '3594.99',
 '2940.24',
 '3062.41',
 '3067.82',
 '2646.76',
 '2227.79']

In [26]:
# convert from string to float
balances = [float(balance) for balance in balances]
balances

[2097.02,
 3654.02,
 1536.02,
 3919.64,
 3681.39,
 1694.42,
 1214.1,
 2930.31,
 1944.15,
 2839.22,
 2467.31,
 3304.99,
 3844.42,
 3594.99,
 2940.24,
 3062.41,
 3067.82,
 2646.76,
 2227.79]

In [27]:
sum(balances)

52667.02

Instead of going through each step to clean, let's put all of those into a function and then run the list comprehension on the single function.

In [28]:
def clean_balance(balance):
    balance = balance.replace(',', '')
    balance = balance.replace('$', '')
    return float(balance)

In [35]:
ttl_balances = sum([clean_balance(profile['balance']) for profile in profiles])

8. Average balance per user

In [40]:
avg_balance = round(ttl_balances / ttl_users, 2)
avg_balance

2771.95

9. User with the lowest balance

In [42]:
# This variable will hold on to the user dict with the lowest balance
# we'll start of by saying the user with the lowest balance is the first user.
user_with_lowest_balance = profiles[0]

# Now we can loop through the remaining profiles and compare the balances
for profile in profiles[1:]:
    # if the current profile has a lower balance than our lowest balance so far,
    if clean_balance(profile['balance']) < clean_balance(user_with_lowest_balance['balance']):
        # set this profile as the user with the lowest balance
        user_with_lowest_balance = profile

user_with_lowest_balance['name']

'Avery Flynn'

10. User with the highest balance

In [43]:
# We'll use the same strategy as before, but with the highest balance this time
user_with_highest_balance = profiles[0]

for profile in profiles[1:]:
    if clean_balance(profile['balance']) > clean_balance(user_with_highest_balance['balance']):
        user_with_highest_balance = profile

user_with_highest_balance

{'_id': '54e23c3e54e4094147a3b1da',
 'index': 3,
 'guid': '69eb3454-8acc-46f1-a636-c6df00dfb542',
 'isActive': False,
 'balance': '$3,919.64',
 'picture': 'http://placehold.it/32x32',
 'age': 20,
 'eyeColor': 'green',
 'name': 'Fay Hammond',
 'gender': 'female',
 'company': 'INRT',
 'email': 'fayhammond@inrt.com',
 'phone': '+1 (922) 429-2592',
 'address': '518 Randolph Street, Whitestone, Arizona, 8189',
 'about': 'Aliqua sunt exercitation quis cupidatat fugiat nulla laboris occaecat ut reprehenderit qui incididunt. Amet excepteur qui amet mollit sint enim velit est dolor eu. Velit labore ea aute ipsum consequat culpa cupidatat excepteur aliqua. Sit commodo id est deserunt commodo. Labore sit deserunt enim in dolore incididunt. Officia qui est veniam cillum consequat minim duis Lorem esse magna culpa cupidatat cupidatat enim. Amet eiusmod elit qui reprehenderit commodo quis.\r\n',
 'registered': '2015-01-30T08:05:38 +06:00',
 'latitude': 33.825844,
 'longitude': -65.969538,
 'tags': ['aliqua', 'esse', 'sint', 'pariatur', 'commodo', 'do', 'anim'],
 'friends': [{'id': 0, 'name': 'Dudley Booker'},
  {'id': 1, 'name': 'Esmeralda Tyler'},
  {'id': 2, 'name': 'Rosa Hampton'}],
 'greeting': 'Hello, Fay Hammond! You have 10 unread messages.',
 'favoriteFruit': 'banana'}

11. Most common favorite fruit

In [44]:
favorite_fruits = [profile['favoriteFruit'] for profile in profiles]
favorite_fruits

['strawberry',
 'apple',
 'banana',
 'banana',
 'apple',
 'apple',
 'banana',
 'strawberry',
 'strawberry',
 'banana',
 'strawberry',
 'strawberry',
 'apple',
 'strawberry',
 'strawberry',
 'banana',
 'strawberry',
 'banana',
 'strawberry']

In [45]:
# Our goal here is to transform the list above into a dictionary where the keys are the unique fruit names,
# and the values are the number of times that fruit appears in the list above.

# To do so, we'll start with an empty dictionary:
fruit_counts = {}

# Now we can loop through the list of favorite fruits
for fruit in favorite_fruits:
    # if the fruit name already exists as a key in the fruit_counts dictionary
    if fruit in fruit_counts:
        # We already have started a acount for this fruit
        # add 1 to the number of times that fruit appears
        fruit_counts[fruit] += 1
    else:
        # We don't yet have an entry for this fruit
        # Create it and set it to 1
        fruit_counts[fruit] = 1

In [49]:
fruit_counts

{'strawberry': 9, 'apple': 4, 'banana': 6}

In [50]:
#strawberry is most common favorite

12. Least most common favorite fruit

Apple is the least common favorite fruit.

13. Total number of unread messages for all users

In [52]:
profiles[0]

{'_id': '54e23c3e46ab53a440b580e8',
 'index': 0,
 'guid': '9962b468-ef3e-4993-b677-617469bc3008',
 'isActive': False,
 'balance': '$2,097.02',
 'picture': 'http://placehold.it/32x32',
 'age': 39,
 'eyeColor': 'blue',
 'name': 'Hebert Estes',
 'gender': 'male',
 'company': 'ANDRYX',
 'email': 'hebertestes@andryx.com',
 'phone': '+1 (866) 456-2268',
 'address': '121 Emmons Avenue, Klondike, Kentucky, 5975',
 'about': 'Sit cillum deserunt irure laboris tempor fugiat laboris. Amet commodo amet est incididunt. Dolore qui fugiat cillum pariatur dolore excepteur elit ipsum.\r\n',
 'registered': '2014-11-10T01:44:03 +06:00',
 'latitude': -80.157843,
 'longitude': 161.93016,
 'tags': ['sit', 'occaecat', 'non', 'ea', 'sit', 'laboris', 'exercitation'],
 'friends': [{'id': 0, 'name': 'Tanisha Leonard'},
  {'id': 1, 'name': 'Dennis Wilson'},
  {'id': 2, 'name': 'Lupe Howe'}],
 'greeting': 'Hello, Hebert Estes! You have 4 unread messages.',
 'favoriteFruit': 'strawberry'}

In [65]:
def extract_digits(s):
    return ''.join([c for c in s if c.isdigit()])

n_unread_messages = [int(extract_digits(profile['greeting'])) for profile in profiles]
# sum([int(message) for message in n_unread_messages])
sum(n_unread_messages)

210

In [55]:
extract_digits(profiles[0]['greeting'])

'4'

In [63]:
# create empty list
unread_messages = []

# loop through all profiles
# extract the number, convert to int
# append unread messages to list

for profile in profiles:
    unread_messages.append(int(extract_digits(profile['greeting'])))

sum(unread_messages)

210

In [62]:
unread_messages

[4, 19, 5, 10, 9, 19, 13, 17, 2, 18, 2, 13, 7, 13, 12, 7, 19, 5, 16]